<%# locals: (machine_image:, versions:) %>
<% ready_versions = versions.select { |v| v.metal&.display_state == "ready" } %>
<% form(action: "#{path(machine_image)}/set-latest-version", method: :post, id: "set-latest-version") do %>
  <div class="flex items-center gap-3">
    <%== part(
      "components/form/select",
      name: "latest_version",
      options: [["", "(none)"]] + ready_versions.map { |v| [v.version, v.version] },
      selected: machine_image.latest_version&.version || "",
      classes: "max-w-xs",
    ) %>
    <%== part("components/form/submit_button", text: "Save") %>
  </div>
<% end %>
